html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.Register-container {
    background-color: #000;
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

.Register-container .errorMessage {
	color: #07d159;
	font-size: 12px;
	display: block;
}

.Register-login {
	color: #fff;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: normal;
	line-height: 1em;
	box-sizing: border-box;
	width: 80%;
	margin: 0 auto;
	position: relative;
	max-width: 1024px;
}

.Register-leftSide {
	width: 400px;
	padding: 45px;
	float: left;
	border-right: 1px solid #999;
}

.Register-loginForm,
.Register-registerForm {
	display: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

.Register-leftSide h2 {
	text-align: center;
}

.Register-leftSide input[type="text"],
.Register-leftSide input[type="email"],
.Register-leftSide input[type="password"] {
	display: block;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #fff;
	height: 27px;
	line-height: 27px;
	width: 100%;
	color: #fff;
}

.Register-leftSide label {
	color: #a0a0a0;
	font-size: 13px;
	margin-top: 15px;
}

.Register-leftSide input[type="submit"] {
	background-color: transparent;
	border: 2px solid #fff;
	border-radius: 100px;
	color: #fff;
	display: block;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 20px auto;
	height: 41px;
	width: 100%;
}

.Register-leftSide input[type="submit"]:hover {
	opacity: 0.8;
}

.Register-hasAccountText {
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}

.Register-rightSide {
	padding: 45px;
	display: table-cell;
}

.Register-rightSide h1 {
	color: #07d159;
	font-size: 60px;
	line-height: 60px;
	font-weight: bold;
}
.Register-rightSide h1 {
	margin: 35px 0;
	line-height: normal;
}

.Register-rightSide ul {
	padding: 0;
}

.Register-rightSide li {
	font-size: 20px;
	list-style-type: none;
	padding: 5px 30px;
	background: url(../images/icons/checkmark.png) no-repeat;
}